
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button id="btn" onclick="" >取得 JsonTest 資料</button>

@section Scripts {
    <script>
        $("#btn").bind("click", function () {
            $.getJSON('/AR/JsonTest', '',    //呼叫 JsonTest action 取得 json 資料
                function (data) {
                    console.log(data);
                }
            )
        });
    </script>
}