@{
    ViewBag.Title = "About";
}

@section breadcrumb{
    <li><a href="/Home/About">About</a></li>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
